body{
	margin:0;
	background-size: cover;
	background-color: #eef0f1;
}

@font-face{
	font-family: Century Gothic;
	src:url(../fonts/Ghot.ttf) format(truetype);
}

.container{
	width: 900px;
	margin: auto;
	position: relative;
	font-family: Century Gothic, sans-serif;
	z-index: 0;

	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}

.no-posts{
	color:red;
}
/******************************************HEADER*/

.header{
	margin:0 auto 30px;
	padding-top: 20px;
	background-color:#5185cc;
	height: 63px;
	font-size: 14px;
}
.h_logo{
	margin: 0 10px 0 0;
	float: left;
}
.h_menu{
	float: right;
	margin: 15px 0 0 0;
	padding: 0;
	height: 20px;
	list-style: none;
}
.h_menu li{
	float:left;
	margin: 0 35px 0 0;
	cursor: pointer;
	position: relative;
	color:#fff;
}
.h_menu li:last-child{
	margin: 0 0 0 0;
}
.h_menu li a{
	text-decoration: none;
	color:#fff;
}

/**********************************************header*/


/************************************************FOOTER*/

.f_hr{
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	border-top-color: #FFF;
	clear: both;
	margin-top:30px;
}
.footer{
	height: 35px;
	padding: 0 30px;
}
.f_icons{
	float: left;
	margin: 0px 0 0 0px;
	font-size: 14px;
}
.f_icons a{
	position: relative;
	color: #000;
	top: 0;
	text-decoration: none;

	font-size: 14px;
	display: inline-block;
	margin: 0 0 0 14px;
	cursor: pointer;

	-webkit-transition: top .3s ease;
	   -moz-transition: top .3s ease;
	    -ms-transition: top .3s ease;
	     -o-transition: top .3s ease;
	        transition: top .3s ease;
}
.f_icons a:hover{
	top:-3px;
}
.f_vk{
	font-weight: bold;
}
.f_vk a{
	color: inherit;
}
.footer div:last-child{
	color: #555;
	float: right;
	font-size: 14px;
}
/************************************************footer*/
.pop-up{
	position:absolute;
	text-align: center;
	left:0;
	right:0;
	height:100%;
	z-index:2;
	overflow: hidden;

	opacity: 0;
	display: none;

	background-color:rgba(0,0,0,.4);

	-webkit-transition: opacity .3s ease;
	   -moz-transition: opacity .3s ease;
	    -ms-transition: opacity .3s ease;
	     -o-transition: opacity .3s ease;
	        transition: opacity .3s ease;
}

.sign-up-form,
.login-form{
	display: none;
	position:absolute;
	top:30%;
	left:40%;
}
.sign-up-form .load-icons{
	position:absolute;
	width:35px;
	height:35px;
	right:2px;
	top:3px;
}
.sign-up-form .load-icons img{
	max-height:35px;
}

.sign-up-form input,
.login-form input{
	border-radius: 5px;
	font-family: Century Gothic, sans-serif;
	font-size: 14px;
	outline:0;
	border:1px solid #777;
	padding:10px;
	margin:0 0 10px 0;
	display: block;

	height:20px;
	width:340px;

	-webkit-transition: border .3s ease .1s;
	   -moz-transition: border .3s ease .1s;
	    -ms-transition: border .3s ease .1s;
	     -o-transition: border .3s ease .1s;
	        transition: border .3s ease .1s;
}

.sign-up-form>div{
	position:relative;
}
.sign-up-form .submit,
.login-form .submit{
	width:100%;
	height:40px;
	cursor:pointer;
	background-color:#2daae1;
	color:#fff;
}
.sign-up-form input:focus,
.login-form input:focus{
	border-color:#2daae1;
}

.oauth{
	background-color:#5185cc;
	color:#fff;
	border-radius: 5px;
	cursor:pointer;
	text-align: center;
	padding:10px 0;
	margin:40px 0 0 0;
	font-size: 15px;
	font-family: Century Gothic, sans-serif;
}
.oauth a{
	text-decoration: none;
	color:inherit;
}
/**********************************************profile*/

.loadmore_post_main{
	clear:both;
}

.load-icons{
	height:20px;
	width:20px;

	z-index:2;

	top:0;
	right:0px;

	overflow:hidden;
	display:inline-block;
}
.load-icons img{
	max-height:20px;
	display: none;

	-webkit-transition: opacity .3s ease;
	   -moz-transition: opacity .3s ease;
	    -ms-transition: opacity .3s ease;
	     -o-transition: opacity .3s ease;
	        transition: opacity .3s ease;
}
.edit-pen{
	width:20px;
	height:20px;
	display:inline-block;
	border-radius: 5px;
	cursor:pointer;
	background:#e5edef url(../img/edit_pen.png) no-repeat center;
}

/************** ava block*/
.p_user-ava-block{
	float:left;
	width:25%;
}
.p_avatar{
	border-radius: 5px;
	cursor:pointer;
	width:200px;
	height:200px;
}
.p_avatar img{
	min-height: 200px;
	border-radius: 5px;
	min-width: 200px;
	width:200px;
	display:block;

	-webkit-transition: opacity .3s ease;
	   -moz-transition: opacity .3s ease;
	    -ms-transition: opacity .3s ease;
	     -o-transition: opacity .3s ease;
	        transition: opacity .3s ease;
}
.p_file-read{
	display:none;
}
.p_section-pane{
	width:800px;
	height:550px;
	margin:100px auto 0;
	position:relative;


	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.j-crop{
	display:inline-block;
	position:relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.j-crop img{
	max-width: 700px;
	max-height: 500px;
}
.img-par{
	width:200px;
	background-color:#3eade2;
	margin:250px auto 0;
	cursor:pointer;
	border-radius: 5px;
	font-family: Century Gothic, sans-serif;
	font-size: 20px;
	color:#fff;
	padding:30px 20px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.img-in{
	display:none;
}
#previewDiv{
	width:150px;
	height:150px;
	overflow:hidden;
	position:absolute;
	top:0px;
	left:-170px;
	border-radius: 5px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.p_ava-btns-par{
	margin:0 0 20px 0;
	display:none;
}
.p_ava-btns-par div{
	width:100px;
	font-family: Century Gothic, sans-serif;
	display:inline-block;
	color:#fff;
	font-size: 15px;
	padding:10px;
	border-radius: 5px;
	cursor:pointer;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.p_submit-ava{
	margin:0 100px 0 0;
	background-color:#3eade2;
}
.p_undo-ava{
	background-color:#FB3E3E;
}

/************************ write msg*/

.write-msg-block{
	display:none;
	margin:200px 0 0 0;
}
.send-message-input{
	width:400px;
	height:200px;
}
.p_write-msg{
	background-color:#bfced6;
	width:200px;
	border-radius: 5px;
	margin:5px 0 0 0;
	cursor:pointer;
	font-size: 16px;
	padding:10px 0;
	color:#fff;
	text-align: center;
}

/************************ write msg*/

/************************rate*/
.p_rate-block{
	background-color:#e7ecef;
	color:#5b8199;
	width:200px;
	margin:5px 0 0 0;
	padding:5px 0;
	text-align: center;
	border-radius: 5px;
}
.p_rate-label{
	font-size: 14px;
}
.p_rate{
	font-weight: bold;
	font-size: 20px;
}
/************************RATE*/
.p_online-block{
	background-color:#e7ecef;
	color:#5b8199;
	width:200px;
	font-size: 15px;
	font-weight: bold;
	margin:15px 0 0 0;
	padding:5px 0;
	text-align: center;
	border-radius: 5px;
}
.online{
	color:#5b8199;
	font-size: 12px;
	text-align: center;
}
/************** AVA BLOCK*/

/*********************************info*/

.p_user-info{
	float:right;
	width:74%;
}
.p_info-list{
	padding:0;
	margin:0;
	list-style: none;
}
.data-in{
	/*font-size: 10px;*/
	font-weight: bold;
	padding:2px;
	position:relative;
}
.data-in input{
	background-color: rgba(256,256,256,.0);
	border:0;
	margin:0;
	font-size: 15px;
	font-weight: bold;
	font-family: Century Gothic, sans-serif;
	padding:2px;
	outline:none;
}
.data-in input::selection{
	background-color:#fff7a8;
	color:#444;
}
.data-in input::-moz-selection{
	background-color:#fff7a8;
	color:#444;
}
/*************************************login-block*/
/*******************************change-block*/

.p_login-pop-up{
	display:none;
	background-color:#eee;
	width:300px;
	height:150px;
	margin:200px auto;
	border-radius: 15px;
	font-family: Century Gothic, sans-serif;
}
.p_submit-login{
	padding:5px;
	font-family: Century Gothic, sans-serif;
	width:100px;
	margin:20px auto;
	border-radius: 5px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.p_submit-login.enabled{
	background-color:#7eddff;
	color:#fff;
	cursor:pointer;
}
.p_submit-login.disabled{
	background-color:#aaa;
	color:#fff;
}
/********************************CHANGE-BLOCK*/
.p_login{
	position:relative;
}
.p_login span{
	background-color:transparent;
	font-size: 26px;
	font-weight: bold;
	color:#5b8199;

	letter-spacing: 3px;
}
/**************************************LOGIN-BLOCK*/

/****************************************name age block*/

.p_info-list li{
	margin:0 0 10px 0;
}
.p_info-list li:first-child>div{
	display:inline-block;
}
.p_age,
.p_age-block input{
	color:#bbb;
}

/******************************************NAME AGE BLOCK*/
.p_town,
.p_town input{
	color:#bbb;
}
.p_about-block{
	position:relative;
}
.p_about-cap{
	background-color:#e7ecef;
	padding:30px 10px;
	text-align: center;
	border-radius: 5px;
	color:#5b8199;
	cursor:pointer;
	font-size: 15px;
	font-weight: bold;
}
.p_about-cap.ready{
	text-align: left;
	padding:5px;
	min-height:70px;
	word-wrap:break-word;
	overflow:hidden;
}
.p_about textarea{
	resize:none;
	background-color:#e7ecef;
	border-radius: 5px;
	width:626px;
	min-height:70px;
	color:#5b8199;
	display:none;

	border:0;
	margin:0;
	font-size: 15px;
	font-weight: bold;
	font-family: Century Gothic, sans-serif;
	padding:5px;
	outline:none;
}
.p_about .load-icons{
	position:absolute;
	top:-10px;
	right:-10px;
}
/***************INFO*/

/*--------------------------rate*/

.r-b_header h2{
	display:inline-block;
	margin:0;
}
.rate-block{
	float:right;
}
.r-b_content,
.p-n_content{
	background-color:#f7f9fb;
}
.rate-table,
.popular-table{
	width:245px;
	border-collapse:collapse;
}
.rate-table td,
.popular-table td{
	padding:10px;
}

.r-t_ava img{
	width:45px;
}
.r-t_name{
	color:#5b8199;
}
.r-t_name a{
	text-decoration: none;
	color:inherit;
}
.r-t_rate{
	border-left:1px solid #f2f4f6;
	text-align: center;
	font-size: 12px;
	color:#c5d3e1;
	font-weight: bold;
}


/*--------------------------RATE*/

/*----------------------------popular news block*/

.popular-news-block{
	margin:20px 0 0 0;
	float:right;
}
.p-n_header h2{
	display:inline-block;
	margin:0;
}
.p-t_count{
	text-align: center;
	font-size: 14px;
	color:#5b8199;
	font-weight: bold;
}
.p-t_head{
	font-size: 15px;
	color:#5b8199;
}
.p-t_head a{
	text-decoration: none;
	color:inherit;
}


/*----------------------------POPULAR NEWS BLOCK*/

.top-posts{
	padding:20px;
	background-color:#fff;
}

.top-table{
	border-collapse: collapse;
}


.top_head{
	font-size: 18px;
	color:#5b8199;
	padding:5px;
	font-weight: bold;
}
.top_head a{
	text-decoration: none;
	color:inherit;
}

/**********************************************PROFILE*/

/*****************************************wall*/

.add-post{
	background-color:#bfced6;
	min-height:150px;
	border-radius: 5px;
}
.a-p_cap{
	margin:auto;
	cursor:pointer;
	padding:73px 0;
}
.a-p_plus{
	text-align: center;
	color:#fff;
	font-size: 14px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.a-p_form{
	display:none;
	padding:1px 11px 10px 11px;
}
.a-p-header,
.a-p-content{

	margin:10px auto;
	padding:5px;
	border:none;
	border-radius: 5px;
	font-family: Century Gothic, sans-serif;
	color:#5b8199;
	display:block;
	outline:none;
}
.a-p-header{
	font-size: 18px;
	width:600px;
	font-weight: bold;
}
.a-p-content{
	min-height:80px;
	resize:none;
	width:630px;
	font-size: 16px;
}
.a-p-btn{
	float:left;
	border:none;
	background-color:#eee;
	width:100px;
	text-align: center;
	padding:8px 15px;
	cursor:pointer;
	border-radius: 5px;
	font-size: 13px;
	color:#5b8199;
	outline:none;
}

.a-p_add-photo{
	width:30px;
	float:right;
	height:30px;
	cursor:pointer;
	background:url(../img/add_photo.jpg) no-repeat;
	background-size: 100%;
	background-position:center;
}
.freewall{
	/*height:400px;*/
}
.wall-img {
	/*float:left;*/
}
.wall-img img{
	max-width:100%;
	max-height: 100%;
}

/*---------------------------------------*/
/*-------------------- wall posts*/

/*--------------------post*/

.readmore_post{
	cursor:pointer;
	color:#5b8199;
	font-size: 14px;
}
.w-post{
	margin:0 0 20px 0;
	background-color:#fff;
	padding:15px 20px;
	position:relative;
}

.w-p_edit-delete{
	opacity:0;
	position:absolute;
	right:5px;
	top:10px;

	-webkit-transition: opacity .3s ease;
	   -moz-transition: opacity .3s ease;
	    -ms-transition: opacity .3s ease;
	     -o-transition: opacity .3s ease;
	        transition: opacity .3s ease;
}
.w-p_edit-delete div{
	width:11px;
	height:11px;
	margin:0 10px 0 0;
	position:relative;
	z-index:3;
	cursor:pointer;
	display:inline-block;
}
.w-p_e-d_edit{
	background:url(../img/edit_post.gif);
}
.w-p_e-d_delete{
	background:url(../img/delete_post.gif);
}
.w-post:hover .w-p_edit-delete{
	opacity:1;
}

.w-p_user-block{
	position:relative;
}
.w-p_user-ava{
	position:absolute;
	top:-15px;
	left:-95px;
}
.w-p_user-ava::after{
	content:'';
	display:block;
	position:absolute;
	top:20px;
	left:59px;
	border-style: solid;
	border-width: 8px 8px 8px 8px;
	border-color: transparent #fff transparent transparent;
}
.w-p_user-name{
	color:#5b8199;
	font-size: 14px;
	margin:0 0 5px 0;
	display:inline-block;
}
.w-p_user-name a{
	color:#5b8199;
	font-size: 14px;
	margin:0 0 5px 0;
	text-decoration: none;
}
.w-p_user-name:hover a{
	text-decoration: underline;
}
.w-p_date{
	color:#b2bbbf;
	font-size: 12px;
	margin:0 0 5px 0;
}
.w-p_header{
	color:#5b8199;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 2px;
	margin:0 0 5px 0;
	display:inline-block;
}
.w-p_header a{
	text-decoration: none;
	color:inherit;
}
.w-p_header:hover a{
	text-decoration: underline;
}
.w-p_content{
	font-size: 15px;
	margin:0 0 5px 0;
	color:#333;
	word-wrap:break-word;
}

.w-p_like{
	cursor:pointer;
	display:inline-block;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.w-p_remove-container{
	display:none;
	opacity:0;

	position:absolute;
	padding:30px 0 0 0;
	z-index: 100;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#fff;

	-webkit-transition: opacity .3s ease;
	   -moz-transition: opacity .3s ease;
	    -ms-transition: opacity .3s ease;
	     -o-transition: opacity .3s ease;
	        transition: opacity .3s ease;
}
.w-p_rm-header{
	text-align: center;
	color:#5b8199;
}
.w-p_rm-btns{
	text-align: center;
	margin:30px 0 0 0;
}
.w-p_rm-btns div{
	display:inline-block;
	padding:10px;
	border-radius: 5px;
	color:#fff;
	cursor:pointer;
}

.w-p_rm-yes{
	background-color:#3eade2;
	margin:0 40px 0 0;
}
.w-p_rm-no{
	background-color:#FB3E3E;
}

/*--------------------POST*/

/*****************comment*/

.w-p_c-c{
	margin:0 0 0 70px;
}

.w-p_a-c-input{
	padding:10px;
	border-radius: 5px;
	width:577px;
	border:1px solid #bbb;
	font-size: 13px;
	resize:none;
	outline:none;
	margin:0 0 3px 0;
}
.w-p_a-c-i_trans{
	-webkit-transition: height .3s ease;
	   -moz-transition: height .3s ease;
	    -ms-transition: height .3s ease;
	     -o-transition: height .3s ease;
	        transition: height .3s ease;
}

.w-p_c-block{
	position:relative;
	cursor:pointer;
}
.w-p_c-block hr{
	border:1px solid #ddd;
	border-top:0;
	margin:10px 0;
}

.w-p_c_edit-delete{
	opacity:0;
	position:absolute;
	right:5px;
	top:10px;

	-webkit-transition: opacity .3s ease;
	   -moz-transition: opacity .3s ease;
	    -ms-transition: opacity .3s ease;
	     -o-transition: opacity .3s ease;
	        transition: opacity .3s ease;
}
.w-p_c_edit-delete div{
	width:11px;
	height:11px;
	position:relative;
	z-index:3;
	cursor:pointer;
	display:inline-block;
}
.w-p_c_e-d_edit{
	background:url(../img/edit_post.gif);
}
.w-p_c_e-d_delete{
	background:url(../img/delete_post.gif);
}
.w-p_c-block:hover > .w-p_c_edit-delete{
	opacity:1;
}



.w-p_c_ava{
	float:left;
	overflow:hidden;
	border-radius: 5px;
	height:60px;
	margin:0 10px 0 0;
}
.w-p_c_header{
	color:#5b8199;
	display:inline-block;
	margin:0 0 2px 0;
	font-size: 14px;
}
.w-p_c_header a{
	text-decoration: none;
	color:inherit;
	display:inline-block;
}
.w-p_c_header:hover a{
	text-decoration: underline;
}
.w-p_c_content{
	font-size: 15px;
	color:#333;
}

.w-p_date-like{
	margin:0 0 0 70px;
}
.w-p_c_date{
	color:#b2bbbf;
	font-size: 12px;
	margin:0 0 6px 0;
	display:inline-block;
}
.w-p_c_like{
	text-align: right;
	cursor:pointer;
	clear:both;
	float:right;
	color:#5b8199;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.submit-comment{
	display:none;
	width:90px;
	text-align: center;
	padding:8px 15px;
	background-color:#5b8199;
	cursor:pointer;
	border-radius: 5px;
	font-size: 13px;
	color:#eee;
}

.clear-fix{
	clear:both;
}
/*****************COMMENT*/

/*-------------------- wall posts*/
/*---------------------------------------*/

.w-posts-main{
	width:640px;
	float:left;
}
/*****************************************WALL*/

/****************************************** message*/

.m-b_p-in,
.m-b_p-out{
	color:#5b8199;
	float:left;
	width:450px;
	padding:10px 0;
	font-size: 18px;
	text-align: center;
	cursor:pointer;
	background-color:#fff;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.m-b_p-in{

}
.m-b_p-out{

}
.m-b_p-choisen{
	background-color:#3eade2;
	border:1px solid #3eade2;
	color:#fff;

}
.m-b_p-disabled{
	border:1px solid #3eade2;
}


.m-b_received-table,
.m-b_sent-table{
	opacity:1;
	width:100%;
	border-left:1px solid #3eade2;
	border-right:1px solid #3eade2;
	border-bottom:1px solid #3eade2;
	border-collapse: collapse;
	background-color:#fff;
}
.m-b_sent-table{
	display:none;
}
.message-raw td{
	border-bottom:1px solid #3eade2;
	padding:15px;
}
.ms_ava{
	width:50px;
}
.ms_ava img{
	display:block;
}
.ms_name{
	text-align: center;
	width:150px;
	color:#555;
}
.ms_name a{
	color:inherit;
	text-decoration: none;
}
.ms_msg{
	width:600px;
	color:#555;
}
.ms_reply{
	font-size: 14px;
	cursor:pointer;
	color:#5b8199;
}
.ms_reply:hover{
	background-color:#3eade2;
	color:#fff;

	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.unread{
	background-color:#eef0f1;
}
/****************************************** MESSAGE*/

.disabled{
	cursor:auto;
}

/********************************************** ADMIN*/	

.admin-header{
	margin:20px auto;
}
.admin-table td:nth-child(4){
	max-width: 355px;
	word-wrap:break-word;
}

.admin-header a,
.admin-table a,
.admin-table span{
	color:#5b8199;
	text-decoration: none;
	cursor:pointer;
}

.admin-header.posts td:first-child,
.admin-header.posts td:first-child a,
.admin-header.users td:last-child,
.admin-header.users td:last-child a{
	color:#fff;
	background-color:#5b8199;
}
{
	color:#fff;
	background-color:#5b8199;
}
.admin-table .light td,
.admin-table .light td span,
.admin-table .light td a{
	background-color:#9999ff !important;
	color:#fff;
}