body{
	margin:0;
	background: url('../img/flag.jpg') no-repeat center center fixed;
	background-size: cover;
	color: #322;
}

@font-face{
	font-family: Century Gothic;
	src:url(../fonts/Ghot.ttf) format(truetype);
}

.container{
	width: 900px;
	/*height:10000px;*/
	margin: auto;
	position: relative;
	font-family: Century Gothic, sans-serif;
	background-color: rgba(256,256,256,.97);
	z-index: 0;

	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
/******************************************HEADER*/

.header{
	margin:auto;
	padding-top: 30px;
	height: 83px;
	font-size: 14px;
}
.h_logo{
	margin: 0 10px 0 29px;
	float: left;
}
.h_menu{
	float: right;
	margin: 30px 0 0 0;
	padding: 0;
	height: 20px;
	list-style: none;
}
.h_menu li{
	float:left;
	margin: 0 0 0 35px;
	cursor: pointer;
	position: relative;
}
.h_menu li:last-child{
	margin: 0 28px 0 35px;
}
.h_menu li a{
	text-decoration: none;
	color: #000;
}

/**********************************************header*/


/************************************************FOOTER*/

.f_hr{
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	border-top-color: #FFF;
	clear: both;
}
.footer{
	height: 35px;
	padding: 0 30px;
}
.f_icons{
	float: left;
	margin: 0px 0 0 0px;
	font-size: 14px;
}
.f_icons a{
	position: relative;
	color: #000;
	top: 0;
	text-decoration: none;

	font-size: 14px;
	display: inline-block;
	margin: 0 0 0 14px;
	cursor: pointer;

	-webkit-transition: top .3s ease;
	   -moz-transition: top .3s ease;
	    -ms-transition: top .3s ease;
	     -o-transition: top .3s ease;
	        transition: top .3s ease;
}
.f_icons a:hover{
	top:-3px;
}
.f_vk{
	font-weight: bold;
}
.f_vk a{
	color: inherit;
}
.footer div:last-child{
	color: #555;
	float: right;
	font-size: 14px;
}
/************************************************footer*/
.btns{
	text-align: right;
}
.sign-up,
.login{
	padding:5px;
	display: inline-block;
	cursor:pointer;
	background-color:#FB3E3E;
	color:#fff;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.pop-up{
	position:absolute;
	text-align: center;
	left:0;
	right:0;
	height:100%;
	z-index:2;
	overflow: hidden;

	opacity: 0;
	display: none;

	background-color:rgba(0,0,0,.4);

	-webkit-transition: opacity .3s ease;
	   -moz-transition: opacity .3s ease;
	    -ms-transition: opacity .3s ease;
	     -o-transition: opacity .3s ease;
	        transition: opacity .3s ease;
}

.sign-up-form,
.login-form{
	display: none;
	position:absolute;
	top:30%;
	left:40%;
}

.sign-up-form input,
.login-form input{
	border-radius: 5px;
	font-family: Century Gothic, sans-serif;
	font-size: 14px;
	outline:0;
	border:1px solid #777;
	padding:10px;
	margin:0 0 10px 0;
	display: block;

	height:20px;
	width:340px;

	-webkit-transition: border .3s ease .1s;
	   -moz-transition: border .3s ease .1s;
	    -ms-transition: border .3s ease .1s;
	     -o-transition: border .3s ease .1s;
	        transition: border .3s ease .1s;
}

.sign-up-form>div{
	position:relative;
}
.load-icons{
	position:absolute;
	height:42px;
	width:42px;

	z-index:2;

	top:0;
	right:0px;
}
.load-icons img{
	max-height:42px;
	display: none;
}
.sign-up-form .submit,
.login-form .submit{
	width:100%;
	height:40px;
	cursor:pointer;
	background-color:#2daae1;
	color:#fff;
}
.sign-up-form input:focus,
.login-form input:focus{
	border-color:#2daae1;
}


/**********************************************profile*/

.profile{
	height:500px;
}

.p_header{
	background-color: #e0e0e0;
	height:80px;
	padding:20px 105px;
}
/************** avatar*/
.p_avatar{
	border:1px solid #ccc;
	border-radius: 5px;
	float:left;
	padding:5px;
	background-color:#fff;
	cursor:pointer;
	width:150px;
	height:150px;
}
.p_avatar img{
	min-height: 150px;
	border-radius: 5px;
	min-width: 150px;
	width:150px;
	display:block;

	-webkit-transition: opacity .3s ease;
	   -moz-transition: opacity .3s ease;
	    -ms-transition: opacity .3s ease;
	     -o-transition: opacity .3s ease;
	        transition: opacity .3s ease;
}
.p_file-read{
	display:none;
}
.p_section-pane{
	width:800px;
	height:550px;
	margin:100px auto 0;
	position:relative;


	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.j-crop{
	display:inline-block;
	position:relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.j-crop img{
	max-width: 700px;
	max-height: 500px;
}
.img-par{
	width:200px;
	background-color:#3eade2;
	margin:250px auto 0;
	cursor:pointer;
	border-radius: 5px;
	font-family: Century Gothic, sans-serif;
	font-size: 20px;
	color:#fff;
	padding:30px 20px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.img-in{
	display:none;
}
#previewDiv{
	width:150px;
	height:150px;
	overflow:hidden;
	position:absolute;
	top:0px;
	left:-170px;
	border-radius: 5px;
}

.p_ava-btns-par{
	margin:30px 0 0 0;
	display:none;
}
.p_ava-btns-par div{
	width:100px;
	font-family: Century Gothic, sans-serif;
	display:inline-block;
	color:#fff;
	font-size: 15px;
	padding:10px;
	border-radius: 5px;
	cursor:pointer;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.p_submit-ava{
	margin:0 100px 0 0;
	background-color:#3eade2;
}
.p_undo-ava{
	background-color:#FB3E3E;
}
/************** AVATAR*/

/***************content*/

.p_content{
	display:inline-block;
	margin:0 0 0 50px;
}
.p_login{
	position:relative;
}

.p_info-list{
	margin:50px 0 0 0;
	padding:0;
	list-style:none;
}
.p_info-list li{
	margin:0 0 15px 0;
	height:35px;
}
.p_info-list li>div{
	display:inline-block;
}
/***********************data-in*/
.data-in{
	/*font-size: 10px;*/
	font-weight: bold;
	color:#666;
	padding:2px;
	position:relative;
}
.data-in input,
.p_login input,
.data-in span{
	background-color: rgba(256,256,256,.97);
	border:0;
	margin:0;
	font-size: 15px;
	font-weight: bold;
	font-family: Century Gothic, sans-serif;
	color:#555;
	padding:2px;
	outline:none;
	cursor:pointer;
}
.data-in span{
	cursor:auto;
}
.p_login span{
	margin:30px 0 0 0;
	display:block;
}
.p_login span,
.p_login input{
	margin:30px 0 0 0;
	background-color:transparent;
	font-size: 26px;
	font-weight: bold;
	color:#666;

	letter-spacing: 3px;
	font-style: italic;
}
/***********************DATA-IN*/
.p_label{
	width:130px;
	text-align: right;
	color:#aaa;
	font-weight: 600;
}
.p_spacer{
	color:#666;
	font-weight: bold;
	margin:0 5px;
}
/***************CONTENT*/

/**********************************************PROFILE*/
